@tailwind base;
@tailwind components;
@tailwind utilities;

.signInput {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6         ) 10%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.6) 10%);
}
.signBg1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.7) 100%)
}
.signBg2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.7) 100%)
}